# venv
ML/.venv/

# raw/generate datasets
ML/data/
# training outputs
ML/configs/
ML/outputs/

# large weights (both base and trained)
ML/yolov8n.pt
ML/yolov8n-pose.pt
ML/**/*.pt

#server
node_modules
.env
.DS_Store
